nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;

    padding-right: 3%;
    padding-left: 3%;

    margin-top: 3%;

    background-color: #24323F;
    color: #F5F4F4;

    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

div{
    background-color: inherit;
    padding: 10px 20px;
    border-right: 5px solid #F5F4F4 ;
}
div:last-child{
    border-right: none;
}

